<a href="https://colab.research.google.com/github/AyeshathHafeeza/DataScience/blob/main/Sales_Data_Analysis_Using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mini Project: "Sales Data Analysis using Pandas"**

In [ ]:
import pandas as pd

# Load and inspect the data
df=pd.read_csv("/content/sales - pandas 1.csv")
print(df.head())

  Customer Name Product  Quantity  Price Location
0          John  Laptop         1  50000   Mumbai
1         Anita  Mobile         2  15000    Delhi
2          John  Laptop         1  50000   Mumbai
3          Ravi  Tablet         1  20000  Chennai
4         Anita  Mobile         1  15000    Delhi

In [ ]:
# identifying if there is missing values
df.isnull().sum()

Customer Name    0
Product          0
Quantity         0
Price            0
Location         0
dtype: int64

In [ ]:
#remove missing values
df = df.dropna()
df.isnull().sum() # as there is no missing values

Customer Name    0
Product          0
Quantity         0
Price            0
Location         0
dtype: int64

In [ ]:
# Displays first 5 rows.
df.head()

  Customer Name Product  Quantity  Price Location
0          John  Laptop         1  50000   Mumbai
1         Anita  Mobile         2  15000    Delhi
2          John  Laptop         1  50000   Mumbai
3          Ravi  Tablet         1  20000  Chennai
4         Anita  Mobile         1  15000    Delhi

In [ ]:
#Count duplicates
df.duplicated().sum()

np.int64(1)

In [ ]:
df.head()

  Customer Name Product  Quantity  Price Location
0          John  Laptop         1  50000   Mumbai
1         Anita  Mobile         2  15000    Delhi
2          John  Laptop         1  50000   Mumbai
3          Ravi  Tablet         1  20000  Chennai
4         Anita  Mobile         1  15000    Delhi

In [ ]:
#Remove Duplicates
df = df.drop_duplicates()
df.head()

  Customer Name Product  Quantity  Price Location
0          John  Laptop         1  50000   Mumbai
1         Anita  Mobile         2  15000    Delhi
3          Ravi  Tablet         1  20000  Chennai
4         Anita  Mobile         1  15000    Delhi
5          Neha  Laptop         1  50000   Mumbai

In [ ]:
#calculate Revenue
df['Revenue']=df['Price']*df['Quantity']
print(df['Revenue'])

#Total Price
total_price=df['Revenue'].sum()
print("Total Price:",total_price)

0    50000
1    30000
3    20000
4    15000
5    50000
Name: Revenue, dtype: int64
Total Price: 165000

In [ ]:
#Top customers
df.groupby('Customer Name')['Revenue'].sum().sort_values(ascending=False).head(10)

Customer Name
John     50000
Neha     50000
Anita    45000
Ravi     20000
Name: Revenue, dtype: int64

In [ ]:
#Top products
df.groupby('Product')['Revenue'].sum().sort_values(ascending=False).head(10)

Product
Laptop    100000
Mobile     45000
Tablet     20000
Name: Revenue, dtype: int64

In [ ]:
#Total revenue by customers
df.groupby("Customer Name")["Revenue"].sum()

Customer Name
Anita    45000
John     50000
Neha     50000
Ravi     20000
Name: Revenue, dtype: int64

In [ ]:
#Total revenue by Product
df.groupby("Product")["Revenue"].sum()

Product
Laptop    100000
Mobile     45000
Tablet     20000
Name: Revenue, dtype: int64

In [ ]:
#Total revenue by Location
df.groupby("Location")["Revenue"].sum()

Location
Chennai     20000
Delhi       45000
Mumbai     100000
Name: Revenue, dtype: int64

In [ ]:
#Total Quantity Sold per Product
df.groupby("Product")["Quantity"].sum()

Product
Laptop    2
Mobile    3
Tablet    1
Name: Quantity, dtype: int64

In [ ]:
#Multi-level Grouping (Customer + Product)
df.groupby(["Customer Name","Product"])["Revenue"].sum()

Customer Name  Product
Anita          Mobile     45000
John           Laptop     50000
Neha           Laptop     50000
Ravi           Tablet     20000
Name: Revenue, dtype: int64

In [ ]:
#Number of orders per customer
df.groupby("Customer Name").size()

Customer Name
Anita    2
John     1
Neha     1
Ravi     1
dtype: int64

In [ ]:
#Average order value per customer
df.groupby("Customer Name")["Revenue"].mean()

Customer Name
Anita    22500.0
John     50000.0
Neha     50000.0
Ravi     20000.0
Name: Revenue, dtype: float64

In [ ]:
#Top N products
df.groupby("Product")["Revenue"].sum().nlargest(5)

Product
Laptop    100000
Mobile     45000
Tablet     20000
Name: Revenue, dtype: int64

In [ ]:
#sort for highest sales
df.groupby("Product")["Price"].sum()

Product
Laptop    100000
Mobile     30000
Tablet     20000
Name: Price, dtype: int64

In [ ]:
#Filter with query()

#Filter rows by Customer
df.query("`Customer Name` == 'John'")

  Customer Name Product  Quantity  Price Location      t  Revenue
0          John  Laptop         1  50000   Mumbai  50000    50000

In [ ]:
#Filter rows by Product
df.query("Product == 'Laptop'")

  Customer Name Product  Quantity  Price Location      t  Revenue
0          John  Laptop         1  50000   Mumbai  50000    50000
5          Neha  Laptop         1  50000   Mumbai  50000    50000

In [ ]:
#Filter rows with multiple conditions
df.query("Product == 'Laptop' and Location == 'Mumbai'")

  Customer Name Product  Quantity  Price Location      t  Revenue
0          John  Laptop         1  50000   Mumbai  50000    50000
5          Neha  Laptop         1  50000   Mumbai  50000    50000

In [ ]:
#Filter by Quantity greater than a value
df.query("Quantity > 1")

  Customer Name Product  Quantity  Price Location      t  Revenue
1         Anita  Mobile         2  15000    Delhi  30000    30000

In [ ]:
#Filter by Price less than a value
df.query("Price < 20000")

  Customer Name Product  Quantity  Price Location      t  Revenue
1         Anita  Mobile         2  15000    Delhi  30000    30000
4         Anita  Mobile         1  15000    Delhi  15000    15000